h1{
color:rgb(228, 14, 32)
}
h1{
    text-align: center;
}
h1{
    font-style: italic;
}
h1{
    background-color: rgb(231, 10, 39));
}
p{
    background-color: #e00909
}
p{
    border:5px solid #e60a0aee
}
h1{
    padding: 2rem;
}
h1{
    margin: 5rem;
}
h1{
    font-weight: 800;
}
.radek{
    display: flex;
}
h1{
    flex-direction: row-reverse;
}
.radek img{
    width: 30%;
}
#hardwer{
    width:250px;
    border: #df0b28;
    border-radius: 50%;
    border: 3px solid rgb(233, 10, 40)
    
}
#hardwer{
    background-color: #db0b2e
}
#hardwer{
    padding: 10px;
}
h2{
    font-style: italic;
}
h2{
    font-size: large;
}


    

    
    




h1{
    font-size: huge;
    font-size: bigger;
    font-size: 100px;
}

h2{
    font-size: 10px;
}

h3{
   font-size:huge;
}
h4{
   font-size: medium;
}
h5{
   font-size: medium;
}
h6{
   font-size: medium;
}
h7{
   font-size: medium;
}
h2{
    font-size: medium;
}
h3{
   font-size: medium;
}
h4{
   font-size: medium;
}
h5{
   font-size: medium;
}
h6{
   font-size: medium;
}
h7{
   font-size: medium;
}


   








.ImgMain{
    display: block;
    margin-right: auto;
    margin: auto;
}
#hardwer{
    flex: 1;
}
1radek



    

    






























h1{
    color: #db0b2e;
}
h2{
    color: #db0b2e;
}
h3{
    color: #db0b2e;
}
h4{
    color: #db0b2e;
}
h5{
    color: #db0b2e;
}
h6{
    color: #db0b2e;
}
h7{
    color: #db0b2e;
}
.flex{
    display: flex;
    justify-content: center;
}
grid{
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
}
h1{
    font-style: italic;
}
h2{font-style: italic;
}  
h3{
    font-style: italic;
}
h4{
    font-style: italic;
}
h5{
    font-style: italic;
}
h6{
    font-style: italic;
}
h7{
    font-style: italic;
}

:root{
--: 255;
--g: 0;
--b: 0;
--text-color: rgb(var( --r), var(--g), var(--b));
}



    

    


    

    














   


















































body{
    background-image: url(https://t3.ftcdn.net/jpg/01/83/50/32/360_F_183503230_heDoLySnwt4W968RVTJOf7LFHbkZdCHA.jpg);
    background-repeat: no-repeat;
    background-size: 120rem;
    background-position: 4cap;
    background-position: center;
    
}
































